/**reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
	font-family: 'Noticia Text', serif;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3 {

	font-weight: 300;
}


/**define layout */

header {
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    background: none repeat scroll 0 0 #8AC007;
}
.container {
    float: auto;
    margin: 0 auto;
    width: 1000px;
}
.top-60{
	margin-top: 60px;
}
.top-title {
	float: left;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    height: 60px;
}
.top-nav {
    //background: none repeat scroll 0 0 #FFFF00;
    color: #FFFFFF;
    float: right;

    margin-top: 15px;
}
.top-nav > li {
    float: left;
    font-size: 18px;
    margin-left: 20px;
}
.top-nav>li>a{
	color: #FFFFFF;
	text-decoration: none;
}
.social-mark > a {
    
    font-size: 19px;
}
.top-nav>li>a:hover{
	font-size: 24px;
	font-weight: bold;
}
.left-sidebar {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0;
    float: left;
    top: 0;
    width: 250px;
    z-index: 10;
}

.main{
	margin-left: 250px;
	width: 700px;
	z-index: 11;
}
.right-sidebar{
	float: right;
	width: 50px;
}
.sidebar-content li {
    border-bottom: 1px solid #DDDDDD;
}
.share-bar {

   // left: 950px;
    position: fixed;
    top: 100px;
    width: 50px;
    z-index: 100000;
}
.share-bar>.fa.fa-share-square-o {
    color: #DDDDDD;
    font-size: 30px;
    text-align: center;
    width: 100%;
}
/** in left-sidebar*/


.sidebar-content {
    padding: 10px;
}

.top-adv{
	height: 60px;
	background: yellow;
}
.listing{
	background: #ffffff;
}
/** content in article*/
.article-meta{
    border: 1px solid #E6E6E6;
    font-size: 12px;
    padding: 5px;
}

.article-content {
    background: none repeat scroll 0 0 #FFFFFF;
    padding-bottom: 10px;
    padding-top: 10px;
}
.article-title{
	font-size: 38px;
	font-weight: bold;
	color: #333333;
	line-height: 40px;
    text-decoration: none;
}
article,.article-footer{
	padding: 20px;
	background: #ffffff;
}

.author{
	float: left;
	width: 300px;
}
.related-post{
	float: left;
	width: 360px;
}
.related-post > ul{
    margin-left: 10px;
}
.related-post li {
    border-bottom: 1px solid #DDDDDD;
}
article img{
	width: 100%;
}

quote{
	background: none repeat scroll 0% 0% rgb(227, 227, 234);
	position: relative;
	border: 1px solid rgb(213, 210, 213);
	color: rgb(102, 102, 102);
	font-family: Asap,Sans-Serif;
	font-size: 13px;
	border-radius: 6px;
	min-height: 40px;
	margin: 20px 0px;
	padding: 20px 20px 20px 75px;
}
/** responsive customizing*/

/** need change to glyphicon*/
.icon-facebook{
	background-image: url("./glyphicon/facebook.png");
}